<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.LogEquipmentMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.LogEquipment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="num" jdbcType="VARCHAR" property="num" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="lampnum" jdbcType="VARCHAR" property="lampnum" />
    <result column="lampname" jdbcType="VARCHAR" property="lampname" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="result" jdbcType="VARCHAR" property="result" />
  </resultMap>
</mapper>